<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>About page</title>
</head>
<body>
    {{>header}}
    <img src='img/kaneki.jpg'>
    {{>footer}}
</body>
</html>